* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 6rem;
}

input {
  width: 100%;
  font-size: 1.5rem;
  color: grey;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 0 1rem;
  overflow: hidden;
}

.card p {
  padding: .5rem;
  text-align: center;
}

.card img {
  max-height: 17rem;
}